.linked:hover {
    color: #EEEEEE;
    /* border-bottom: 1px solid #EEEEEE; */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #EEEEEE, 0 0 40px #508C9B, 0 0 50px #508C9B, 0 0 60px #508C9B, 0 0 70px #508C9B;
    transition: .5s;
    cursor: pointer;
}

.linked, .linked-btn, .linked2 {
    transition: .5s;
    cursor: pointer;
}

.linked-btn:hover {
    box-shadow: 0 0 12px #ffffff2b;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #EEEEEE, 0 0 40px #508C9B, 0 0 50px #508C9B, 0 0 60px #508C9B, 0 0 70px #508C9B;
    transition: .5s;
    cursor: pointer;
}

.stroke {
    text-shadow: 0 0 2px #201E43;
    cursor: default;
}

.linked2:hover {
    color: #EEEEEE;
    transition: .5s;
    background-color: #201E43;
    cursor: pointer;
}

.no-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

.text-shadow {
    text-shadow: #7b00ff 0px 0px 150px;
}

#listing-map {
    width: 700px; /* Lebar map untuk layar besar */
    height: 500px; /* Tinggi map untuk layar besar */
    margin: 0 auto; /* Memposisikan di tengah secara horizontal */
    margin-left: 10px; /* Geser peta lebih ke kanan */
    border: 1px solid #ccc; /* Opsional, untuk memberi border */
    border-radius: 10px; /* Opsional, untuk sudut melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opsional, efek bayangan */
}

/* Media query untuk layar kecil (seperti Android) */
@media (max-width: 768px) {
    #listing-map {
        width: 90%; /* Lebar 90% dari layar */
        height: 300px; /* Tinggi lebih kecil untuk layar kecil */
        margin-left: 0; /* Posisikan peta normal untuk layar kecil */
        border-radius: 8px; /* Sesuaikan sudut untuk estetika */
    }
}

/* Media query untuk layar sangat kecil (seperti ponsel lama) */
@media (max-width: 480px) {
    #listing-map {
        width: 95%; /* Lebar hampir penuh layar */
        height: 250px; /* Tinggi lebih kecil */
        margin-left: 0; /* Posisikan peta normal untuk layar kecil */
        border-radius: 5px; /* Sudut lebih kecil */
    }
}

